/* app css stylesheet */


.large {
  font-size: 1.3em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.4em;
}

#footer {
  ul {
    list-style:none;
    margin:0px;
    padding:0px 10px 0px 0px;
    li {
      margin-bottom: 0.5em;
    }
  }
}

.tip {
  color:#999;
}

#header {
  display:none;
}


.documentation {
  display:block;
  padding-left:20px;
  padding-top: 10px;
  h2,h3,h4,h5 {
    margin:1.5em 0px 1em;
    &:first-child {
      margin-top:0px;
    }
  }
  h2 {
    margin-left:-20px;
  }
  h3 {
    border-bottom:1px solid #DDD;
    margin-left:-20px;
  }
  h4 {
    font-size:1.3em;
    margin-left:-20px;
  }
  h5 {
    font-size:1em;
    color:#666;
    text-transform: uppercase;
  }
}

.box {
  padding:20px;
  .box-shadow(0px, 0px, 2px, rgba(0,0,0,0.8));
  .rounded-corners(3px);
  background-color:#FDFDFD;
}

.faqList {
  list-style: none;
  margin:0px;
  padding:0px;
  li {
    margin-bottom:1.5em;
    p {
      margin-left: 25px;
    }
    h4 {
      a {
        text-decoration: none;
        i {
          vertical-align: 0px;
        }
      }
    }
  }
}

.faq-search {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #EEE;
  input {
    width: 96%;
    display: block;
    padding: 15px 15px 10px 15px !important;
    font-size: 1.6em !important;
  }
}




// Background sizing
.background-size(@size) {
  -webkit-background-size: @size;
     -moz-background-size: @size;
       -o-background-size: @size;
          background-size: @size;
}

.backgroundSize(@horizontal, @vertical) {
  // used by the backgorund tiles in .tile
  -moz-background-size: @horizontal @vertical;  
  -o-background-size: @horizontal @vertical;  
  -webkit-background-size: @horizontal @vertical;   
  background-size: @horizontal @vertical; 
}


.transition(@property) {
  transition-property: @property;
  transition-timing-function: linear;
  -moz-transition-property: @property;
  -moz-transition-timing-function: linear;
  -webkit-transition-property: @property;
  -webkit-transition-timing-function: linear;
  -o-transition-property: @property;
  -o-transition-timing-function: linear;
}


.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.box-shadow(@vOffset, @hOffset, @blur, @color) {
  -moz-box-shadow: @vOffset @hOffset @blur @color;
  -webkit-box-shadow: @vOffset @hOffset @blur @color;
  box-shadow: @vOffset @hOffset @blur @color;
}

.text-shadow(@vOffset, @hOffset, @blur, @color) {
  -moz-text-shadow: @vOffset @hOffset @blur @color;
  -webkit-text-shadow: @vOffset @hOffset @blur @color;
  text-shadow: @vOffset @hOffset @blur @color;
}

.rotate(@angle) {
  transform:rotate(@angle);
  -ms-transform:rotate(@angle); /* IE 9 */
  -moz-transform:rotate(@angle); /* Firefox */
  -webkit-transform:rotate(@angle); /* Safari and Chrome */
  -o-transform:rotate(@angle); /* Opera */
}

.gradient(@colourTop: rgb(255,255,255),@colourBottom: rgb(0,0,0)) {
  background-image: linear-gradient(bottom, @colourBottom 0%, @colourTop 100%);
  background-image: -o-linear-gradient(bottom, @colourBottom 0%, @colourTop 100%);
  background-image: -moz-linear-gradient(bottom, @colourBottom 0%, @colourTop 100%);
  background-image: -webkit-linear-gradient(bottom, @colourBottom 0%, @colourTop 100%);
  background-image: -ms-linear-gradient(bottom, @colourBottom 0%, @colourTop 100%);
}

.noSelection() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

