<!DOCTYPE html>
<html lang="en" ng-app="docsApp">
  <head>
    <meta charset="utf-8">
    <title>Quarter Spiral Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="stylesheets/app.css"/>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
    <link rel="stylesheet" href="stylesheets/font-awesome.css">

    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css">

    <link rel="stylesheet" href="./stylesheets/ui-lightness/jquery-ui-1.8.21.custom.css">

    <link rel="stylesheet" href="stylesheets/application-mean-green.css">
    <link rel="stylesheet" href="stylesheets/pages/dashboard.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

<body>

  <div id="wrapper">

    <div id="topbar">

        <div class="container">

          <a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
            <i class="icon-cog"></i>
          </a>

          <div id="top-nav">

            <ul>
              <li>
                  <a href="#/documentation/overview"><i class="icon-book"></i> Documentation</a>
              </li>
              <!-- <li>
                  <a href="#/faqs"><i class="icon-question-sign"></i> FAQs</a>
                  </li>
                -->
            </ul>

            <ul class="pull-right">
              <!--
              <li>
                  <a href="http://quarterspiral.com" target="new"><i class="icon-arrow-right"></i> Friend Bar Us</a>
              </li>
              -->
              <li>
                  <a href="http://quarterspiral.com" target="new"><i class="icon-arrow-right"></i> Quarter Spiral</a>
              </li>
            </ul>

          </div> <!-- /#top-nav -->

        </div> <!-- /.container -->

      </div> <!-- /#topbar -->


      
      <div id="header">

        <div class="container">

          <a href="#/" class="brand"><i class="icon-dashboard"></i> Documentation!</a>


          <div class="nav-collapse">
            <ul id="main-nav" class="nav pull-right">
              <li>
                  <a href="#/documentation/overview" ng-class="{active: currentUrl == ''}"><i class="icon-book"></i> Overview</a>
              </li>
              <li>
                  <a href="#/documentation/overview" ng-class="{active: currentUrl == ''}"><i class="icon-book"></i> Tutorials</a>
              </li>
              <li>
                  <a href="#/documentation/overview" ng-class="{active: currentUrl == ''}"><i class="icon-book"></i> SDKs</a>
              </li> 
              <li>
                  <a href="#/documentation/overview" ng-class="{active: currentUrl == ''}"><i class="icon-book"></i> APIs</a>
              </li>  
              <li>
                  <a href="#/faqs" ng-class="{active: currentUrl == ''}"><i class="icon-question-sign"></i> FAQs</a>
              </li>

            </ul>

          </div> <!-- /.nav-collapse -->

        </div> <!-- /.container -->

      </div> <!-- /#header -->

      <div ng-view></div>

    </div>

    <div id="footer" ng-hide="hideFooter">

    <div class="container">

      <div class="row">

        <div class="span3">

          <ul>
            <li>&copy; 2012-2013 Quarter Spiral. All rights reserved.</li>
          </ul>

        </div>



        <div class="span3">

          <ul>
            <li>Built with Twitter's <a href="http://twitter.github.com/bootstrap/index.html" target="new">Bootstrap</a></li>
            <li>Using the excellent <a href="http://glyphicons.com" target="new">Glyphicons</a></li>
          </ul>

        </div>

        <div class="span2">


          <ul class="links">
            <li><a href="http://blog.quarterspiral.com" target="new">Tumblr</a></li>
            <li><a href="http://www.twitter.com/quarterspiral" target="new">Twitter</a></li>
            <li><a href="http://www.facebook.com/pages/Quarter-Spiral/478788575475075">Facebook</a></li>
            <li><a href="https://plus.google.com/u/0/b/115985724291808650340/115985724291808650340/posts">Google+</a></li>
          </ul>

        </div>

        <div class="span4">
          <a href="http://quarterspiral.com"><img src="img/qs-logo.png" /></a>
        </div>

      </div>

    </div>
  </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- In production use:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
      -->
    <script src="javascripts/vendor/angular/angular.js"></script>
    <script src="javascripts/app/app.js"></script>
    <script src="javascripts/app/services.js"></script>
    <script src="javascripts/app/controllers.js"></script>
    <script src="javascripts/app/filters.js"></script>
    <script src="javascripts/app/directives.js"></script>

    <script src="javascripts/vendor/jquery-1-8-3.js"></script>
    <script src="javascripts/vendor/showdown.js"></script>

    <!--
    <script src="javascripts/vendor/bootstrap/bootstrap-transition.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-alert.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-modal.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-dropdown.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-tab.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-tooltip.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-popover.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-button.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-collapse.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-carousel.js"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-typeahead.js"></script>
    -->

  </body>

</html>